<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
    <h6>Habilidad Blanda</h6>
    <div class="progress borde">
      <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #e17b8d" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
    <h6>Habilidad Blanda</h6>
    <div class="progress borde">
      <div class="progress-bar barra" role="progressbar" style="width: 25%; background-color: #e17b8d" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
  </div>
</div>
