<div class="row" id="aboutMe">
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" id="photo">
    <img src="../../../assets/perfilPhoto.jpg" alt="fotoDePerfil" class="img-fluid">
    <h3>Celeste D'Angelo</h3>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="row">
    <div class="col-md-3 col-lg-3"></div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <span>
        <h2>Acerca de mi</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consequatur veritatis nihil! Ex blanditiis
          quia tenetur deserunt recusandae sequi pariatur eos minima modi repellendus! Repudiandae, fugiat nostrum!
          Dolore, cupiditate corrupti. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quas
          asperiores perspiciatis vitae possimus iusto voluptatibus accusamus amet mollitia debitis temporibus culpa
          eius repudiandae earum dolor neque natus officiis nobis.</p>
      </span>
    </div>
  </div>

</div>
