<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 text-center">
      <circle-progress [percent]="60" [radius]="100" [showUnits]="false" [imageSrc]="'../../../assets/twitter.png'"
        [showImage]="true" [imageHeight]="120" [imageWidth]="120" [outerStrokeWidth]="15" [innerStrokeWidth]="1"
        [outerStrokeColor]="'#52afa6'" [innerStrokeColor]="'white'" [animation]="true" [animationDuration]="600"
        [responsive]="true">
      </circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <circle-progress [percent]="60" [radius]="100" [showUnits]="false" [imageSrc]="'../../../assets/twitter.png'"
          [showImage]="true" [imageHeight]="120" [imageWidth]="120" [outerStrokeWidth]="15" [innerStrokeWidth]="1"
          [outerStrokeColor]="'#52afa6'" [innerStrokeColor]="'white'" [animation]="true" [animationDuration]="600"
          [responsive]="true">
        </circle-progress>
      </div>
  </div>
