<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 text-center">
      <circle-progress [percent]="70" [radius]="100" [showUnits]="false" [imageSrc]="'../../../assets/css-3.png'"
        [showImage]="true" [imageHeight]="90" [imageWidth]="90" [outerStrokeWidth]="15" [innerStrokeWidth]="1"
        [outerStrokeColor]="'#e17b8d'" [innerStrokeColor]="'#e17b8d'" [animation]="true" [animationDuration]="600"
        [responsive]="true">
      </circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <circle-progress [percent]="95" [radius]="100" [showUnits]="false" [imageSrc]="'../../../assets/html-5.png'"
          [showImage]="true" [imageHeight]="90" [imageWidth]="90" [outerStrokeWidth]="15" [innerStrokeWidth]="1"
          [outerStrokeColor]="'#e17b8d'" [innerStrokeColor]="'#e17b8d'" [animation]="true" [animationDuration]="600"
          [responsive]="true">
        </circle-progress>
      </div>
  </div>
