div {
    background-color: white;
    padding: 25px;
}
#imgBanner {
    width: 300px;
    display: block;
    margin: 0px auto;
}
h2 {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    font-size: 40px;
}