<div class="row" id="education">
  <h3>Formación Académica</h3>
  <div>
    <ul>
      <li class="row">
        <div class="col-lg-10">
          <h5>Curso 1</h5>
          <p>Desde - Hasta</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro deserunt error neque fuga velit eligendi
            temporibus, exercitationem, atque fugiat dolores distinctio cum cupiditate earum consectetur maiores eveniet
            sit doloremque iure.</p>
        </div>
        <div class="col-lg-2">
          <img src="../../../assets/um.ong.png" alt="" class="img-fluid">
        </div>
      </li>      
    </ul>
  </div>
</div>
