#skills{
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    color: #e17b8d;
}
.separador {
    margin: auto;
    background-color: #e17b8d;
    height: 15px;
    width: 40%;
    border-radius: 10px;
}
.icon{
    width: 5rem;
    text-align: center;
}
h3{
    line-height: 70px;
}
h5{
    line-height: 40px;
}